<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>consultSecurity</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>consultSecurity.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngresoLogin</display-name>
    <servlet-name>IngresoLogin</servlet-name>
    <servlet-class>controlador.IngresoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngresoLogin</servlet-name>
    <url-pattern>/IngresoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarRegistrosAccidentes</display-name>
    <servlet-name>ListarRegistrosAccidentes</servlet-name>
    <servlet-class>controlador.ListarRegistrosAccidentes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarRegistrosAccidentes</servlet-name>
    <url-pattern>/ListarRegistrosAccidentes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearRegistroAcc</display-name>
    <servlet-name>CrearRegistroAcc</servlet-name>
    <servlet-class>controlador.CrearRegistroAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearRegistroAcc</servlet-name>
    <url-pattern>/CrearRegistroAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarRegistroAccidente</display-name>
    <servlet-name>EliminarRegistroAccidente</servlet-name>
    <servlet-class>controlador.EliminarRegistroAccidente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarRegistroAccidente</servlet-name>
    <url-pattern>/EliminarRegistroAccidente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarRegistroAccidente</display-name>
    <servlet-name>EditarRegistroAccidente</servlet-name>
    <servlet-class>controlador.EditarRegistroAccidente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarRegistroAccidente</servlet-name>
    <url-pattern>/EditarRegistroAccidente</url-pattern>
  </servlet-mapping>
</web-app>